
.sidebar {
    width: 200px;
    position: fixed;
    top: 6%;
    left: 0;
    height: 100%;
    padding-top: 20px;
    background-color: #f8f9fa;
}
.main-content {
    margin-left: 220px;
    padding: 20px;
}
.card-wrapper {
    margin-bottom: 100px;
    margin-top: 30px;
    display: flex;
    overflow: hidden;
    position: relative;
}
.carousel-control-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}
.carousel-control-next-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23ffffff" viewBox="0 0 8 8"%3E%3Cpath d="M2.02 0L0 2l4 2-4 2 2 2 6-4-6-4z"/%3E%3C/svg%3E');
}
.card-container {
    display: flex;
    transition: transform 0.5s ease;
}
.card {
    min-width: 200px;
    margin-right: 10px;
    transition: transform 0.5s ease;
}
.card:nth-child(3) {
    transform: scale(1.1);
    z-index: 1;
}

.icon-container {
    position: absolute;
    bottom: 20px; /* 카드의 하단에서 10px 위로 위치 */
    left: 10px; /* 카드의 왼쪽에서 10px 오른쪽으로 위치 */
    display: flex;
    align-items:center;
    gap: 20px; /* 아이콘 간의 간격 */
}

.icon-button {
  border: none; /* 버튼의 테두리를 제거합니다. */
  background-color: transparent; /* 버튼의 배경색을 투명하게 설정합니다. */
  cursor: pointer; /* 마우스 커서를 포인터로 변경하여 버튼처럼 보이게 합니다. */
  padding: 0; /* 버튼의 기본 패딩을 제거합니다. */
  outline: none; /* 클릭 시 나타나는 아웃라인을 제거합니다. */
}

.icon-button img {
  width: 20px; /* 아이콘의 크기를 설정합니다. */
  height: 20px; /* 아이콘의 크기를 설정합니다. */
}

/* heart 아이콘 클릭 시 빨간색으로 변경 */
.icon-button.heart.clicked img {
  filter: invert(20%) sepia(97%) saturate(7450%) hue-rotate(355deg) brightness(97%) contrast(105%);
  /* 클릭 시 heart 아이콘의 색상을 빨간색으로 변경 */
}

/* bookmark 아이콘 클릭 시 파란색으로 변경 */
.icon-button.bookmark.clicked img {
  filter: invert(32%) sepia(70%) saturate(1931%) hue-rotate(177deg) brightness(97%) contrast(101%);
  /* 클릭 시 bookmark 아이콘의 색상을 파란색으로 변경 */
}

