
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.search-container {
    display: flex;
    width: 40%;
}

.search-bar {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    border-right: none;
}

.search-button {
    padding: 8px 12px;
    background-color: #03914f;
    color: white;
    border: 1px solid #ddd;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-weight: bold;
}

.header-icons {
    display: flex;
    align-items: center;
    position: relative;
}

.header-icons .icon {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 20px;
}

.header-icons img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
}

.post-button {
    padding: 8px 12px;
    background-color: #03914f;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.container {
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #eef0f5;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #ffffff;
    margin-left: 20px;
    border-radius: 10px;
    border: 1px solid #eef0f5;
}

.account-info .info-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.account-info .info-item .label {
    font-weight: bold;
    color: #333;
}

.account-info .info-item .value {
    color: #666;
}

footer {
    padding: 10px 20px;
    background-color: #f7f7f7;
    text-align: center;
    font-size: 12px;
    color: #666;
    border-top: 1px solid #ddd;
}

.footer-content p {
    margin: 0;
}
