

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

.navbar-brand{
font-weight: bolder;
}
.sidebar {
  height: 100vh;
  position: fixed;
  top: 56px; /* ナビゲーションバーの高さ分下に */
  left: 0;
  width: 200px;
  background-color: #ececec;
  padding-top: 20px;
}
.sidebar h5 {
  padding: 10px;
}
.content {
  margin-left: 270px; /* サイドバーの幅分左にマージン */
  padding: 20px;
}
.scroll-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
}
.scroll-buttons button {
  margin-bottom: 10px;
}

/* 테스트용*/

.group {
    position: absolute;
    width: 201px;
    height: 230.69px;
    left: 0px;
    top: 0px;
}

.rectangle {
    position: absolute;
    width: 200px;
    height: 230.69px;
    left: 254px;
    top: 133px;
    background: #FFFFFF;
}

.heart-fill, .bookmark {
    position: absolute;
    width: 20px;
    height: 20px;
}

.heart {
    left: 254px;
    top: 337px;
    color: #FF1D1D;
}

.bookmark {
    left: 313px;
    top: 336px;
    color: #45A6FF;
}

.ellipse {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 254px;
    top: 300px;
    background: #D9D9D9;
    border-radius: 50%;
}

/*사실상 이미지 부분ㄱ*/
.rect-inner {
    position: absolute;
    width: 200px;
    height: 110px;
    left: 254px;
    top: 133px;
    background: #4E79CD;
    border-radius: 5px;
}

.title {
    position: absolute;
    width: 190px;
    height: 37px;
    left: 253px;
    top: 253px;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-align: left;
}

.nishiharu, .date, .views {
    position: absolute;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #626262;
    text-align: left;
    direction: ltr;
}

.nishiharu {
    left: 280px;
    top: 303px;
    text-align: left;
    direction: ltr;
}

.date {
    left: 335px;
    top: 303px;
    text-align: left;
    direction: ltr;
}

.views {
    left: 283px;
    top: 339px;
    font-size: 14px;
    text-align: left;
    direction: ltr;
}
/* 테스트용 끝 */
